@{
  ViewBag.Title = "Home";
}

<div class="row">
  <div class="col-md-3 text-center">
    <div class="well well-lg">
      <a asp-controller="Account" asp-action="Index">
        <span class="fa fa-user icon-xl"></span>
        <p>Gebruikers</p>
      </a>
    </div>
  </div>
  <div class="col-md-3 text-center">
    <div class="well well-lg">
      <a asp-controller="Role" asp-action="Index">
        <span class="fa fa-users icon-xl"></span>
        <p>Rollen</p>
      </a>
    </div>
  </div>
</div>
