@model RegisterUserViewModel

@{ 
  ViewBag.Title = "Toevoegen";
  Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<h3>Gebruiker toevoegen</h3>
<hr/>

<form asp-action="Create" method="post" role="form" class="form-horizontal">
  <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
  <div class="form-group">
    <label asp-for="UserName" class="col-md-3 control-label"></label>
    <div class="col-md-9">
      <input asp-for="UserName" class="form-control" tabindex="1" />
      <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
  </div>
  <div class="form-group">
    <label asp-for="Password" class="col-md-3 control-label"></label>
    <div class="col-md-9">
      <input asp-for="Password" class="form-control" tabindex="2" />
      <span asp-validation-for="Password" class="text-danger"></span>
    </div>
  </div>
  <div class="form-group">
    <label asp-for="ConfirmPassword" class="col-md-3 control-label"></label>
    <div class="col-md-9">
      <input asp-for="ConfirmPassword" class="form-control" tabindex="3" />
      <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
  </div>
  <div class="form-group">
    <label asp-for="Email" class="col-md-3 control-label"></label>
    <div class="col-md-9">
      <input asp-for="Email" class="form-control" tabindex="4" />
      <span asp-validation-for="Email" class="text-danger"></span>
    </div>
  </div>
  <div class="form-group">
    <label asp-for="PhoneNumber" class="col-md-3 control-label"></label>
    <div class="col-md-9">
      <input asp-for="PhoneNumber" class="form-control" tabindex="5" />
      <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-3 col-md-9 text-right">
      <a asp-action="Index" class="btn btn-default">Terug</a>
      <input type="submit" value="Toevoegen" class="btn btn-primary" />
    </div>
  </div>
</form>