@model LoginViewModel

@{
  ViewBag.Title = "Inloggen";
  Layout = "~/Views/Shared/_CleanLayout.cshtml";
}

<h3>Welkom</h3>

<p>Hieronder kunt u inloggen</p>

<form asp-action="Login" method="post" role="form" class="form-horizontal text-left">
  <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
  <div class="form-group">
    <label asp-for="UserName" class="col-md-3 control-label"></label>
    <div class="col-md-9">
      <input asp-for="UserName" class="form-control" tabindex="1" />
      <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
  </div>

  <div class="form-group">
    <label asp-for="Password" class="col-md-3 control-label"></label>
    <div class="col-md-9">
      <input asp-for="Password" class="form-control" tabindex="2" />
      <span asp-validation-for="Password" class="text-danger"></span>
    </div>
  </div>

  <div class="form-group clearfix">
    <div class="pull-left col-md-12 text-left">
      <label class="checkbox-inline">
        <input asp-for="RememberMe" tabindex="3" />
        <small>Onthoud mij</small>
      </label>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-12">
      <button type="submit" class="btn btn-primary btn-block btn-lg" tabindex="4">
        <i class="glyphicon glyphicon-user"></i>
        Inloggen
      </button>
    </div>
  </div>
</form>